.estilos {
  background-color: var(--cinza);
  margin: 0 6.3rem;
  padding: 4.4rem 4rem 4.75rem 4rem;
  text-align: center;
  border-radius: 2.5rem;
}

.estilos h2 {
  font-family: var(--fonte-secundaria);
  font-size: 3rem;
  margin-bottom: 3.5rem;
}

.estilos-container {
  display: grid;
  grid-template-rows: auto auto; /* Duas linhas */
  gap: 2.5rem; /* Espaço entre as linhas */
}

.linha-superior {
  display: grid;
  grid-template-columns: 1.2fr 1.8fr; /* Proporção da primeira linha */
  grid-template-areas: "casual formal";
  gap: 2.5rem; /* Espaço entre os itens */
}

.linha-inferior {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr; /* Proporção da segunda linha */
  grid-template-areas: "festa gym";
  gap: 2.5rem; /* Espaço entre os itens */
}

.casual {
  grid-area: casual;
}

.formal {
  grid-area: formal;
  width: 100%;
}
.festa {
  grid-area: festa;
}

.gym {
  grid-area: gym;
}

.estilos-container a {
  display: block; /* Faz o link ocupar todo o espaço da div */
  width: 100%;
  height: 100%;
}

.casual img,
.formal img,
.festa img,
.gym img {
  width: auto; /* Largura da imagem igual à largura da div */
  height: 100%; /* Altura da imagem igual à altura da div */
  object-fit: contain; /* Ajusta a imagem para cobrir todo o espaço sem distorcer */
  object-position: center; /* Centraliza a imagem no espaço disponível */
  pointer-events: none;
  cursor: pointer;
}

.lista-estilos-mobile {
  display: none;
}

@media (max-width: 768px) {
  .estilos {
    margin: 0 1rem;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
  }

  .estilos h2 {
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }

  .lista-estilos-mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .linha-superior {
    display: none;
  }

  .linha-inferior {
    display: none;
  }
}
